Login and logout. 
Display of all of the Doctor's appointments (Date, Time, Patient Name, Complain) with Search feature (patient name and complaint).
Users can add future-dated appointments, but the doctor is limited to accept only 3 appointments per day. A specific user can only have 1 appointment scheduled per day (validation should appear when creating/setting up an appointment).
User is automatically redirected to the Dashboard after successfully adding a new appointment. The new record should be appended on the table.
The user can only cancel at least 1 day before the appointment schedule.
Updating of added/deleted appointments on the dashboard after refreshing the page.
You must be able to deploy your work to Amazon EC2 and provide the IP address or subdomain/domain name to where your work has been deployed. Please note that Heroku deployment is not honored.