<div ng-controller="orderController">

    <h2>Add a New Order</h2>
    <p>Customer: <select ng-model="order._user">
        <option ng-repeat="customer in customers" value="{{customer._id}}">{{customer.name}}</option>
    </select></p>
    <p>Product: <select ng-model="order._product">
        <option ng-repeat="product in products" value="{{product._id}}">{{product.name}}</option>
    </select></p>
    <p>Quantity: <select ng-model="order.quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select></p>

    <table class="tg">
  <tr>
    <th class="tg-m1tb">Customer Name</th>
    <th class="tg-m1tb">Product</th>
    <th class="tg-m1tb">Quantity</th>
    <th class="tg-m1tb">Date</th>
  </tr>
  <tr ng-repeat="order in orders">
    <td class="tg-yw4l">{{order._customer.name}}</td>
    <td class="tg-yw4l">{{order._product.name}}</td>
    <td class="tg-yw4l">{{order.quantity}}</td>
    <td class="tg-yw4l">{{order.createdAt}}</td>
  </tr>
</table>
</div>
