<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>Create a New Dojo</title>
    </head>
    <body>
        <form class="#" action="index.html" method="post">
            <p>Car Make: <input type="text" name="make" value=""></p>
            <p>Car Model: <input type="text" name="model" value=""></p>
            <p>Car Year: <input type="text" name="year" value=""></p>
            <p>Car Color: <input type="text" name="color" value=""></p>
            <input type="submit" name="" value="Create Car!">
        </form>
    </body>
</html>
